@import '../../../../../Styles/common.scss';

.sectionRight {
  margin-top: 16px;
  padding: 8px 16px;
  height: 220px;
  overflow: auto;

  .title {
    padding: 8px 0;
    font-weight: 600;

    span {
      color: $font--grey;
      font-size: 14px;
    }

    a {
      color: $main-font;
      font-size: 12px;
    }
  }
  button {
    padding: 8px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    color: $btn--blue;

    &.follow {
      margin-right: -8px;
      width: auto;
    }
  }
}
