@import './variable.scss';

/* layout */
.align-item-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-right {
  margin-left: auto;
}

/* style */

button {
  width: 40px;
  height: 40px;
  font-weight: 600;
  color: $btn--blue;
}
