@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* right_side_top */
.right_side_top {
  display: flex;
  align-items: center;
  padding: 10px;
  .right_side_myid {
    padding-left: 10px;
    width: 180px;
    font-weight: 700;
  }
  .right_side_myprofile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

/* right_side_article */
.right_side_article {
  padding: 10px;
  span {
    margin-right: 65px;
  }
}

/* right_side_recommend */
.right_side_recommend {
  display: flex;
  align-items: center;
  padding: 10px;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .recommend_id {
    padding-left: 10px;
    width: 180px;
    font-weight: 700;
  }
}
