/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* common style */
a {
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}
