.mainTeam1 {
  width: fit-content;
  margin: auto;
  position: relative;
  top: 150px;

  button {
    width: 200px;
    height: 60px;
    margin: 20px 10px;
    border: none;
    border-radius: 30px;
    background-color: rgb(224, 224, 224);
    font-size: 18px;
  }

  button:hover {
    background-color: rgb(209, 209, 209);
  }
}
