body {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
.Login {
  .LoginBtn {
    border: none;
    padding: 10px;
    width: 61%;
    border-radius: 5px;
    background-color: #c5e1fc;
    font-size: 15px;
    color: white;
  }
    
    .LoginBtnOn{
      border: none;
    padding: 10px;
    width: 61%;
    border-radius: 5px;
    background-color: #3A34FF;
    font-size: 15px;
    color: white;
    }
}


.Login {
  .id_input {
    padding: 15px;
    width: 60%;
    border: solid 1px #e2e3e3;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 13px;
  }

  .pw_input {
    padding: 15px;
    margin-top: -30px;
    width: 60%;
    border: solid 1px #e2e3e3;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 13px;
  }
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 400px;
  border: solid 1px #e2e3e3;
  background-color: white;

  .logo {
    text-align: center;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
  }
}

.forgot {
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
  color: #003568;
}
