@font-face {
  font-family: instaStyleFont;
  src: url("http://localhost:3000/images/Doeun/blue_vinyl_regular_ps_ot.otf");
}

body {
  background-color: #fafafa;
}

* {
  margin: auto;
  box-sizing: border-box;
  outline: none;
}
